<!doctype html>
<html>
<head>
<link href="/images/doctor3.css" rel="stylesheet" type="text/css" />
<link href="/images/project5style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="/">Track_It_Down</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/book">Book</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/track">Track Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/price">Pricing Calculator</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <a class="dropdown-item" href="/orderdetails">Manage Orders</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br><br>

<div class="container">  
<% if(data.length !=0) { %>
  <table class="table table-bordered">
    <% for(var i=0;i<data.length;i++) { %>
    <h1 class="head">Booking Details - <%= data[i].trackingpwd %></h1>
    <thead>
      <tr>
        <th>Booking Date</th>
        <th>Bill Number</th>
        <th>Source Country</th>
        <th>Source State</th>
        <th>Source City</th>
        <th>Current Location</th>
        <th>Scheduled Delivery</th>
        <th>Distance Left</th>
        <th>Updated On</th>
        <th>Delivery Charges</th>
        <th>Status</th>
      </tr>
    </thead>
        <tbody>
      <tr>
        <td><%= data[i].date %></td>
        <td><%= data[i].trackingpwd %></td>
        <td><%= data[i].fromcountry %></td>
        <td><%= data[i].fromstate %></td>
        <td><%= data[i].fromcity %></td>
        <td><%= data[i].currentloc %></td>
        <td><%= data[i].sdate %></td>
        <td><%= data[i].dist %></td>
        <td><%= data[i].date %></td>
        <td><%= data[i].dcharges %></td>
        <td><%= data[i].status %></td>
      </tr>
    </tbody>
  <% } %>
  </table>
<% } else { %>
<h3>Tracking Not approved..</h3>
<% } %>
</div>

<button class="btn btn-warning">Track Again</button>

</body>
</html>